h5pyd
marimo
matplotlib
openpyxl
pandas
plotly
pytz
pyxlsb
requests

cache @ git+https://github.com/eudoxys/cache
eia @ git+https://github.com/eudoxys/eia
fips @ git+https://github.com/eudoxys/fips
weather @ git+https://github.com/eudoxys/weather
