pandas
openpyxl
pyxlsb
requests
pytz
matplotlib
marimo
h5pyd
plotly
fips @ git+https://github.com/eudoxys/fips
weather @ git+https://github.com/eudoxys/weather
cache @ git+https://github.com/eudoxys/cache
