cvxpy
h5pyd
marimo
matplotlib
numpy
openpyxl
pandas
plotly
pytz
pyxlsb
requests
scikit-learn
spcqe

tsgam_estimator @ git+https://github.com/nimish/estimator@v0.0.1

cache @ git+https://github.com/eudoxys/cache
eia @ git+https://github.com/eudoxys/eia
fips @ git+https://github.com/eudoxys/fips
weather @ git+https://github.com/eudoxys/weather
geohash @ git+https://github.com/eudoxys/geohash
